<!-- <html>

    <head>
        <meta charset="utf-8">
    </head>>
     <title>Список покупок</title>
     <body>
        <table border="1" width="100%" cellpadding="5">
            <tr>
             <th>Ингредиент</th>
             <th>Количество</th>
            </tr>
            {% for ingredient in shopping_list %}
            <tr>
             <td>{{ ingredient.name }}</td>
             <td>{{ ingredient.amount }} {{ ingredient.measurement_unit }}</td>
           </tr>
           {% endfor %}
          </table>
       </body>



</html> -->


<html lang="ru">

    <head>
        <meta charset="utf-8">

        <style>
            body {
font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif; /* подлючаем шрифт к всему документу */
font-size: 16px; /* дополнительно устанавливаем размер шрифта */
font-weight: 400; /* устанавливаем жирность шрифта, либо вместо 400, ставим значение — normal */
}
          </style>
    </head>>
     <title>Список покупок</title>
     <body>
       русский текст
       </body>



</html>